<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>我是模板文件</title>
  <link rel="shortcut icon" sizes="16x16" href="src/images/favicon_16.ico">
  <link rel="shortcut icon" sizes="32x32" href="src/images/favicon_32.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="http://localhost:8097"></script>
</head>

<body>
  <div id="app">
  </div>
</body>

</html>
